*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
body ul{
    padding-left: 80px;
}
body div{
    position: relative;
    padding: 10px 40px;
    width: 100%;
}
#menu{
    display: flex;
    border: 1px solid black;
    list-style: none;
    background: rgb(194, 194, 194);
    padding: 10px;
}
#menu .px img{  
    width: auto;
    height: 16px;
}
#flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#flex1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#kich-thuoc{
    width: 56%;
}
#kt-hinh{
    width: 70%;
}
div p{
    padding-right:10px ;
}
a{
    text-decoration: none;
}

@media screen and (max-width:768px) {
    body div{
        padding: 0;
    }
 }